header {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 48px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url("scroll-papers-background.jpg");
  background-size: cover; /* Optional */
}

p {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
